:root {
    font-size:16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --border : #A7A7A7;
}

body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(45deg,
  hsl(273deg 41% 21%) 0%,
  hsl(266deg 28% 30%) 9%,
  hsl(260deg 20% 38%) 18%,
  hsl(254deg 15% 47%) 27%,
  hsl(267deg 14% 55%) 36%,
  hsl(321deg 17% 63%) 45%,
  hsl(349deg 26% 74%) 55%,
  hsl(10deg 39% 83%) 64%,
  hsl(18deg 50% 87%) 73%,
  hsl(23deg 61% 90%) 82%,
  hsl(28deg 76% 92%) 91%,
  hsl(33deg 100% 94%) 100%
    );
}

.homecontainer
{
    padding: 0;
    margin:0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webheader
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: sticky;
    width: 100%;
    height: 5%;
    background-color: #301D3D;
}

.headercontent
{
    padding-top: 8px;
    font-size: 20px;
    color:white;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.headerhome
{   
    text-align: center;
    height: 100%;
    width: 30%;
}

.headersearchbar
{
    text-align: center;
    height: 100%;
    width: 60%;
}

.searchbar
{
    background: rgb(255, 255, 255, 0.2);
    opacity: 0.4;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.searchbar input
{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}

.headericons
{
    height: 100%;
    width: 30%;
    border: solid;
}

.postscontainer
{
    background-color: #fff2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    border-radius: 8px;
}