<!DOCTYPE html>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/CreatePost.css"/>

    <script>
        function updateFileName(input) {
        var fileNameDisplay = document.getElementById("fileNameDisplay");
            if (input.files.length > 0) {
        fileNameDisplay.textContent = input.files[0].name;
        fileNameDisplay.style.display = "inline"; // Show the uploaded filename
        } else {
        fileNameDisplay.textContent = "";
        fileNameDisplay.style.display = "none"; // Hide if no file is selected
        }
}
    </script>
</head>

<body>
    <div class = "webheader">
        <div class = "headercontent">
            <div class="headerhome">
                <div class="websitelogo">
                    <a href="./mainpage"><img src="/public/img/byte_logo.png"/></a>
                    <span class = "link"> <a style = "color: beige; text-decoration: none" href = "./mainpage"> byte. </a> </span>
                </div>
            </div>
            <div class="headersearchbar">
                <input type="search" class="searchbar" placeholder="Search byte"/>
            </div>
            <div class="headerprofile">
                <div class="profile">
                    <div class="profileicon">
                        <div class="profileiconholder">
                            <a href="{{userprofilelink}}">
                            <img src="/public/img/pfp.jpg"/>
                            </a>
                        </div>
                    </div>
                    <div class="profilecontainer">
                        <a href="{{userprofilelink}}">
                        <div class="profiledisplayname">
                            
                            <span>{{username}}</span>
                        </div>
                        <div class="profilehandlename">
                            <span>{{userhandle}}</span>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="topbuttons">
                    <a href="/mainpage"> Log out </a>
                </div>
            </div>
        </div>
    </div>

    <div class = "signcontainer">
        <div class = "container">
          
            <div class = "inputs">
                <form action = "/submitpost" method="POST" name = "myform" enctype="multipart/form-data">
                <div class = "posttitle">
                    <input type="text" id="title" name="title" placeholder="Input Title" required/>
                </div>
                <div class = "icons">
                    <label for = "file-upload" class = "custom-file-upload">
                        <img class ="attach" src = "/public/img/attach.png" title="Attach a file">
                        <input id = "file-upload" name = "file" type = "file" accept ="image/*" onchange="updateFileName(this)"> 
                        <span id="fileNameDisplay"></span>
                    </label>
                </div>
                <div class = "contentarea">
                    <textarea class ="content" name = "content" rows = "23"></textarea>
                </div>
            </div>
            <div class = "buttons">
                <div class = "post">
                        <button class  = "submitbutton" type = "post" value = "post"> <span class ="buttontext">Post</span> </button>
       
                </div>
            </form> 
                <div class = "cancel">
                    <a href = "./mainpage">
                        <button class  = "submitbutton" type = "cancel" value = "cancel"> <span class ="buttontext">Cancel</span> </button>
                    </a>    
                </div>
            </div>
        </div>
    </div>
    

</body>


