<!DOCTYPE html>
<link rel="stylesheet" href="../public/css/main.css"/>
<!--<script src="main.js"></script>-->
<html>
    <title>
        Byte | Home
    </title>
    <body>
        <div class="homecontainer">
            <div class = "webheader">
                <div class = "headercontent">
                    <div class="headerhome">
                        <div class="websitelogo">
                            <a href="/mainpage"><img src="/public/img/byte_logo.png"/></a>
                            <span class = "link"> <a style = "color: beige; text-decoration: none" href = "/mainpage"> byte. </a> </span>
                        </div>
                    </div>
                    <div class="headersearchbar">
                        <input type="search" class="searchbar" placeholder="Search byte"/>
                    </div>
                    <div class="headerprofile">

                        <div class="topbuttons">
                            <a href="/Sign_up"> Signup </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="createpost">
                <div class="createposticon">
                    <div class="createpostusericonholder">
                    </div>
                </div>
                <div class="createposttext">
                    <input type="search" class="posttext" placeholder="Create Post" onclick="redirectToAnotherPage()"/>
                </div>
                <div class="createpostpic">
                    <a href="./Sign_up">
                    <img src="/public/img/image-alt-regular-24.png"/>
                    </a>
                </div>
                <div class="createpostattach">
                    <a href="./Sign_up">
                    <img src="/public/img/folder-plus-regular-24.png"/>
                    </a>
                </div>
            </div>
            <div class="navigation">
                <div class="communities">
                    <div class="dropdown">
                        <button class="dropbtn">Communities
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="/main_community">r/apple</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class="newposts">
                    <a href="/Sign_up">
                    <img src="/public/img/badge-regular-24.png">
                    </a>
                </div>
                <div class="hotposts">
                    <a href="/Sign_up">
                    <img src="/public/img/hot-solid-24.png">
                    </a>
                </div>
            </div>
            {{#each posts}}
                {{> guest_postview this}}
            {{/each}}
        </div>
    </body>
</html>
