<!DOCTYPE HTML>
<html>
<head>
    <title> Profile page </title>
    <link rel="stylesheet" type="text/css" href="/public/css/profilepage.css" />
</head>
<body>
    <div class="homecontainer">
        <div class = "webheader">
            <div class = "headercontent">
                <div class="headerhome">
                    <div class="websitelogo">
                        <a href="./main.html"><img src="/public/img/byte_logo.png"/></a>
                        <span class = "link"> <a style = "color: beige; text-decoration: none" href = "./main.html"> byte. </a> </span>
                    </div>
                </div>
                <div class="headersearchbar">
                    <input type="search" class="searchbar" placeholder="Search byte"/>
                </div>
                <div class="headerprofile">
                    <div class="profile">
                        <div class="profileicon">
                            <div class="profileiconholder">
                                <a href="./profilepage2.html">
                                <img src="/public/img/pfp.jpg"/>
                                </a>
                            </div>
                        </div>
                        <div class="profilecontainer">
                            <div class="profiledisplayname">
                                <span>gojowithiphone</span>
                            </div>
                            <div class="profilehandlename">
                                <span>u/gojo1234</span>
                            </div>
                        </div>
                    </div>
                    <div class="topbuttons">
                        <a href="./main_not_logged.html"> Log out </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainpage"> 
            <div class="profilecontainer1">
                <div class="userinfo">
                    <div class="userpfp">
                        <img class="userimg" src="/public/img/goatkotsu.png" />
                    </div>
                    <div class="editbutton"> <a href=""> Edit </a></a></div>
                </div>

                <div class="profileinfo"> 
                    <h3> Goatkotsu </h3> <span> u/yutaokkotsu </span>
                    <h5> Bits: 100 </h5>
                    <h4> About me: </h4>
                    <p> 
                        "Nah, I'd copy"
                    </p>
                    <div class="editbutton"> 
                        <a href=""> Edit description </a> 
                    </div>
                </div> 
            </div>
            <div class="latestpostscontainer">  
                <h2> Latest Posts: </h2> 
                <div class="latestpost"> 
                    <div class="latestpostinfo">
                        <div class="latestpostpfp"> 
                            <a href="./profilepage4.html"> <img class="userimg" src="/public/img/goatkotsu.png"/> </a>
                        </div>
                        <p> Goatkotsu <br> <span style="padding: 5px;">u/yutaokkotsu</span><br> Bits: 100</p>
                    </div>
                    <div class="latestpostsdetails"> 
                        <h4> <a href="./samplepost4.html"> What are the ideal specs for a PC in 2023? </a> </h4> 
                        <p> I'm thinking of building my own PC within the next couple months once I save up enough money and I need some second opinions on if the PC hardware I'm looking at would run games like Minecraft, Overwatch 2, COD, etc. smoothly/around 1080p. I'll most likely be using it for uni assignments and general browsing on the side, too. I've been looking at these specs for my build: </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>