<!DOCTYPE HTML>
<html>
<head>
    <title> View post </title>
    <link rel="stylesheet" type="text/css" href="viewpost.css" />
</head>

<body>
<div class="homecontainer">
    <div class="homecontainer">
        <div class = "webheader">
            <div class = "headercontent">
                <div class="headerhome">
                    <div class="websitelogo">
                        <a href="./main.html"><img src="./images main/byte_logo.png"/></a>
                        <span class = "link"> <a style = "color: beige; text-decoration: none" href = "./main.html"> byte. </a> </span>
                    </div>
                </div>
                <div class="headersearchbar">
                    <input type="search" class="searchbar" placeholder="Search byte"/>
                </div>
                <div class="headerprofile">
                    <div class="profile">
                        <div class="profileicon">
                            <div class="profileiconholder">
                                <a href="./profilepage2.html">
                                <img src="./images main/pfp.jpg"/>
                                </a>
                            </div>
                        </div>
                        <div class="profilecontainer">
                            <div class="profiledisplayname">
                                <span>gojowithiphone</span>
                            </div>
                            <div class="profilehandlename">
                                <span>u/gojo1234</span>
                            </div>
                        </div>
                    </div>
                    <div class="topbuttons">
                        <a href="./main_not_logged.html"> Log out </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainpage"> 
        <div class="postcontainer">
            <div class="userinfo">
                <div class="postcommunity"> 
                    <h5> b/PCMasterRace </h5>
                </div>
                <div class ="userpfp">
                    <a href="profilepage6.html"> <img class="userimg" src="./images main/joshhutcherson.PNG"> </a>
                    
                </div>
                <div class="postuserinfo"> 
                    <p> JoshHutcherson <br> <span class="userhandle"> u/weewoowooweewoo</span><br>Bits: 46290 </p>
                </div>
                <div class="postdate"> 
                    <h5> Posted on: January 7, 2024</h5>
                    <p> 1 Month ago </p>
                </div>
            </div>
            <div class="postinfocontainer">
                <h4> Need help fixing something </h4>
                <p> 
                    I think I broke a part of my pc, video proof is in
                    <a href="https://www.youtube.com/watch?v=BbeeuzU5Qc8"> this link</a>.
                </p> 
                <div class="replybutton"> <a href=""> Reply </a> </div>
            </div>
        </div>

        <div class="replycontainer"> 
            <div class="replybox">
                <div class = "replyinfo"> 
                    <div class="replypfp"> 
                        <a href="profilepage7.html"> <img class="userimg" src="./images main/rickastley.PNG"> </a>
                    </div>
                    <p> RickAstley <br><span class="userhandle"> u/nvrgonnagive</span><br> Bits: 4M </p>
                    <div class="postdate">
                    <h5> Posted on: January 7, 2024 </h5>
                    <p> 1 Month ago </p>
                    </div>
                </div>
                
                <div class="replycontent"> 
                    <p> 
                        A guide can be found in <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> this link</a>,
                        hope it helps!
                    </p>
                    <div class="replybutton"> <a href=""> Reply </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>